<div class="wrap">
   <!-- Static navbar -->
	<section class="top" id="top-header">
	<div class="container">
      <div class="row">
         <div class="col-xs-12 col-sm-6 hidden-xs shipping-text"> Free Shipping on Orders <i class="fa fa-rupee"></i> 5000 and Above </div>
         <div class="col-xs-12 col-sm-6 links">
			<a href="#contact">Contact Us</a> <a href="#/login" ng-hide="userlogged">Login </a> / 
			<a href="#/registration" ng-hide="userlogged"> Signup</a>
			<a href="#cart" class="cart"><i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i><span class="cart-value"> 0</span></a></div>
      </div>
	</div>
	</section>
<header class="header">
   <nav class="navbar navbar-default">
      <div class="container">
         <div class="row">
            <div class="col-xs-12 ">
               <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				  <a class="navbar-brand" href="#/"></a>                  
                  <figure> </figure>
               </div>
               <div id="navbar" class="navbar-collapse collapse">
                  <ul class="nav navbar-nav">
                     <li><a href="#/todaydeals">Today's Deals</a></li>
                     <li><a href="#">Buy/Sell</a></li>
                     <li><a href="#services">Services</a></li>
                     <li><a href="#">About Us</a></li>
                     <li class="store"><a href="#">Our Store</a></li>
                     <li><a href="#/myaccount">My Account</a></li>
                     <li>
                        <div class="search">
                           <div class="input">                              <input type="text" placeholder="Search">                           </div>
                        </div>
                     </li>
                     <li class="post" ><a href="#"><span>Post A Requirement</span></a></li>
                  </ul>
               </div>
               <!--.nav-collapse -->            
            </div>
         </div>
      </div>
      <!--/.container-fluid -->   
   </nav>
   <category-Directive> </category-Directive>
</header>
<div class="container">
    <section class="login title  for-rst" >
      <div class="row">
        <div class="col-xs-12  ">
		<h2 class="main-title"><strong>Forgot Password</strong></h2>
		  <div class="login-inner">
				 <form class="form-horizontal">
				  <div class="form-group">
					<i class="fa fa-user" aria-hidden="true"></i>
					<input type="text" class="form-control" id="mail" placeholder="Email Id" name="mail">
					</div>
					<div class="form-group btn-sign">
					<button type="submit" class="btn btn-default" ng-click="forget(setnew)">Submit</button>
					</div>
				</form> 
			</div>
		  </div>
        </div>
    </section>
</div>
</div>