
<section class="top" id="top-header">
    <div class="container">
      <div class="row">

            <div class="col-xs-12 col-sm-6 hidden-xs shipping-text"> Free Shipping on Orders Rs 5000 and Above </div>
            <div class="col-xs-12 col-sm-6 links"> <a href="#contact">Contact</a> <a class="activelink" href="#/login">Login / Signup</a> <a href="" class="cart"><i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i><span class="cart-value"> 0</span></a></div>
         
      </div>
    </div>
   </section>
  
    <header class="header">
      <nav class="navbar navbar-default">
        
		   <div class="container">
            <div class="row">
               <div class="col-xs-12 ">
                  <div class="navbar-header">
                     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                     <a class="navbar-brand" href="#/"></a>
                     <figure> </figure>
                     </a>
                  </div>
                  <div id="navbar" class="navbar-collapse collapse">
                     <ul class="nav navbar-nav">
                <li><a href="#/todaydeals">TodayDeals</a></li>
				<li><a href="#">Buy/Sell</a></li>
				<li><a href="#services">Services</a></li>
				<li><a href="#">About Us</a></li>
                <li class="store"><a href="#">Our Store</a></li>
				<li><a href="#/myaccount">My Account</a></li>
				<li>
                  <div class="search">
                    <div class="input">
                      <input type="text" placeholder="Search">
                    </div>
                  </div>
                </li>
                <li class="post" ><a href="#"><span>Post A Requirement</span></a></li>
              </ul>
                  </div>
                  <!--.nav-collapse -->
               </div>
               </div>
           
         </div>
         <!--/.container-fluid -->
      </nav>
	  <div class="container">
   <div class="category-menu" style="display: ;">
         <ul>
            <li>
               <a href="#">Categories</a>
               <ul class="dropdown bgcover" ng-style="set_bg()">
                  <li  ng-repeat="x in menuitem" >
                     <a href="#{{x.url}}" ng-mouseover="mouseOver(x)"> {{ x.title  }}</a>
                     <ul class="dropdown">
                        <li  ng-repeat="sub in x.subCategory">
                           <a href="#/{{sub.type}}/{{ x.title  }}{{sub.url}}" ng-mouseover="mouseOver(sub)">{{sub.title}}</a>                            
                        </li>
                     </ul>
                  </li>
               </ul>
            </li>
         </ul>
      </div>
      </div>
   </header>
   <div class="container">
   


 <section class="login title" >
      <div class="row">
        <div class="col-xs-12  ">
		<h2 class="main-title"><strong>Login</strong></h2>
          <h2 class="sec-title"><strong>New to Onesevenhome?  <a href="#"> Join Now</a></strong></h2>
          <div class="links"> 
			<a href="#" class="active">User </a> 
			<a href="#">Vendor</a>
		  </div>
		  <div class="login-inner">
			
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 right">
				<h4>Sign In to your account</h4>
				 <form class="form-horizontal">
				 <form name="loginForm">
				  <div class="form-group">
					<i class="fa fa-user" aria-hidden="true"></i>
					
					
	<div class="form-group" ng-class="{ 'has-error' : loginForm.email.$invalid && (loginForm.email.$dirty || submitted)}">
 
 <input type="email" name="email" class="form-control" ng-model="session.email" placeholder="User name or Email*" ng-required="true" width="4px">
 <p ng-show="loginForm.email.$error.required && (loginForm.email.$dirty || submitted)" class="help-block">Email is required.</p>
<p ng-show="loginForm.email.$error.email && (loginForm.email.$dirty || submitted)" class="help-block">Enter a valid email.</p>
     </div>
	
	 
	 
					</div>
					<div class="form-group">
					<i class="fa fa-lock" aria-hidden="true"></i>
					
					<div class="form-group" ng-class="{ 'has-error' : loginForm.password.$invalid && (loginForm.password.$dirty || submitted)}">
 
 <input type="Password" name="password" class="form-control" ng-model="session.password" placeholder=" Password*" ng-required="true">
 <p ng-show="loginForm.password.$error.required && (loginForm.password.$dirty || submitted)" class="help-block">Your password is required.</p>
 </div>
					</div>
					<div class="form-group">
					<input type="checkbox" name="remember" id="rem" value=""><label class="rem" for="rem">Remember me</label>
					<p class="fpwd"><a href="#">Forgot your password?</a></p>
					</div>
					<div class="form-group btn-sign">
					
					<button type="button" class="btn btn-primary"  value="Login" title="Login" ng-disabled="loginForm.$valid" ng-click="redirect(session)">
<span>Login</span> </button>

					</div>
				
					
				  </div>
				</form> 
				</form> 
				
			</div>
		  </div>
        </div>
    </section>

<section class="login mid">
<form name="regForm" novalidate>
	<h2 class="sec-title"><strong>New Customer</strong></h2>
	<div class="login-mid-block">
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 left">
		<h4>Personal Information</h4>
		<form class="form-horizontal">
		
				
		<div class="form-group" ng-class="{'has-error':regForm.firstName.$invalid && (regForm.firstName.$dirty || submitted)}">

              <input type="text" name="firstName" class="form-control" placeholder="First name" ng-model="user.firstName" ng-required="true">
              <p ng-show="regForm.firstName.$error.required && (regForm.firstName.$dirty || submitted)" class="help-block">Firstname is required.</p>
      </div>
					
  	   <div class="form-group" ng-class="{'has-error':regForm.lastName.$invalid && (regForm.lastName.$dirty || submitted)}">

               <input type="text" name="lastName" class="form-control" placeholder="Last name" ng-model="user.lastName" ng-required="true">
               <p ng-show="regForm.lastName.$error.required && (regForm.lastName.$dirty || submitted)" class="help-block">Lastname is required.</p>
      </div>
					
   	<div class="form-group" ng-class="{'has-error':regForm.dob.$invalid && (regForm.dob.$dirty || submitted)}">

              <input type="text" name="dob" class="form-control" placeholder="(DOB) DD-MM-YY" ng-model="user.dob" ng-required="true">
              <p ng-show="regForm.dob.$error.required && (regForm.dob.$dirty || submitted)" class="help-block">dob is required.</p>
   </div>
					<div class="form-group gender">
					Gender
					  <input type="radio" name="gender" value="male" > <label for="male">Male</label>
					  <input type="radio" name="gender" value="female" > <label for="female">Female</label>
					</div>
					<!--
					<h4>Account Information</h4>
					
					
	<div class="form-group" ng-class="{'has-error':regForm.companyName.$invalid && (regForm.companyName.$dirty || submitted)}">

                  <input type="text" name="companyName" class="form-control" placeholder="Company Name" ng-model="user.companyName" ng-required="true">
                  <p ng-show="regForm.companyName.$error.required && (regForm.companyName.$dirty || submitted)" class="help-block">Comapny Name is required.</p>
    </div>-->
					<div class="form-group">
					<input type="text" class="form-control" id="num" placeholder="Mobile No." name="num">
					</div>
	
					
				<!---mobile number---------->

	<div class="form-group" ng-class="{'has-error':regForm.email.$invalid && (regForm.email.$dirty || submitted)}">

                  <input type="email" name="email" class="form-control" ng-model="user.email" placeholder=" Email " ng-required="true">
                   <p ng-show="regForm.email.$error.required && (regForm.email.$dirty || submitted)" class="help-block">Email is required.</p>
                    <p ng-show="regForm.email.$error.email && (regForm.email.$dirty || submitted)" class="help-block">Enter a valid email.</p>
    </div>
					
	<label for="newPassword"></label>
	<div class="form-group">
<input type="password" name="Password"  id="pass" class="form-control" placeholder="password" ng-model="user.password" required=""/>
 
      <div ng-messages="regForm.Password.$error" ng-if="regForm.$submitted || regForm.Password.$dirty" ng-messages-multiple="ng-messages-multiple" class="error-messages slide-right">
        <div ng-message="required" class="message slide-left">You did not enter a field name</div>
      </div>
    </div>
					
	<label for="confirmPassword"></label>
    <div class="form-group">
             <input type="password" name="confirmPassword" ng-model="password.confirm" id="conformPassword" class="form-control" placeholder="conform Password"match-password="newPassword" required=""/>
   
      <div ng-messages="regForm.confirmPassword.$error" ng-if="regForm.$submitted || regForm.confirmPassword.$dirty" ng-messages-multiple="ng-messages-multiple" class="error-messages slide-right">
      <div ng-message="required" class="message slide-left">You did not enter a field name</div>
      <div ng-message="passwordMatch" class="message slide-left">Your passwords did not match</div>
      </div>
    </div>
					
				  
				</form> 	
		</div>

		
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 right">
		<h4>Contact Information</h4>
			<form class="form-horizontal">
		<div class="form-group" ng-class="{'has-error':regForm.message.$invalid && (regForm.message.$dirty || submitted)}">
				  <textarea name="message" class="form-control" placeholder="Address1"ng-model="user.message" ng-required="true"></textarea>
				   <p ng-show="regForm.message.$error.required && (regForm.message.$dirty || submitted)" class="help-block">Address is required.</p>
				
		</div>
		
	<div class="form-group" ng-class="{'has-error':regForm.Postal Code.$invalid && (regForm.Postal Code.$dirty || submitted)}">

                  <input type="text" name="Postal Code" class="form-control" placeholder="Postal Code" ng-model="user.Postal Code" ng-required="true">
                  <p ng-show="regForm.Postal Code.$error.required && (regForm.Postal Code.$dirty || submitted)" class="help-block"></p>
    </div>
		
		
		
				
				
				<div class="form-group" ng-class="">
<div class="sec-block">
<select ng-model="user.State" ng-required="true">
   <option value="">Select State</option>
   <option value="">A.P</option>
   <option value="">T.S</option>
   <option value="">T.N</option>
</select>
</div>
	</div>			
				<div class="form-group" ng-class="">
				<div class="sec-block">
<select ng-model="user.City" ng-required="true">
   <option value="">Select City</option>
   <option value="">Hyderabad</option>
   <option value="">Banglore</option>
   <option value="">Chennai</option>
</select>
</div>
</div>
				
			<div class="form-group" ng-class="">
				<div class="sec-block">
<select ng-model="user.Area" ng-required="true">
   <option value="">Select Area</option>
   <option value=""></option>
   <option value=""></option>
   <option value=""></option>
</select>
</div>
</div>
				<div class="form-group">
					<input type="checkbox" name="remember" id="agr" value=""><label for="agr">I agree to One Seven Home Agreement</label>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-default">Register</button>
				</div>
			
			</form>
		</div>
		</div>
		</form>
	</section>
			</div>

</div>

<footer class="footer">
   <div class="container">
      <div class="row">
         <div class="col-xs-12 col-md-6 col-lg-3 ">
            <h2>Buying Assurance</h2>
            <p><a href="#">See authorised Dealers</a><br>
               <a href="#">Certification</a>
            </p>
         </div>
         <div class="col-xs-12 col-md-6 col-lg-3   ">
            <h2>Info &amp; News</h2>
            <p><a href="#">About Us</a><br>
               <a href="#">Contact Us</a><br>
               <a href="#">Press Releases</a><br>
               <a href="#">Product Support</a><br>
               <a href="#">Carrers</a><br>
               <a href="#">FAQ’s </a>
            </p>
         </div>
         <div class="col-xs-12 col-md-6 col-lg-3   ">
            <h2>Locations</h2>
            <p><a href="#">Hyderabad</a><br>
               <a href="#">Warangal</a><br>
               <a href="#">Vijayawada</a><br>
               <a href="#">Guntur</a>
            </p>
         </div>
         <div class="col-xs-12 col-md-6 col-lg-3   ">
            <h2>Stay Updated </h2>
            <p><a href="#"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a> | <a href="#"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a> | <a href="#"><i class="fa fa-google-plus fa-2x" aria-hidden="true"></i></a> | <a href="#"> <i class="fa fa-youtube fa-2x" aria-hidden="true"></i></a></p>
            <div class="newsletter">
               <input placeholder="Sign up for updates">
               <button>Register</button>
            </div>
         </div>
      </div>
   </div>
   <div class="copy"> &copy; Copights 2017   ONE SEVEN HOME  |  <A HREF="#">TERMS AND CONDITIONS</A>  |  <A HREF="#">PRIVACY POLICY </A> |  <A HREF="#">INDIA PRIVACY RIGHTS</A> </div>
</footer>