<div class="wrap">
   <!-- Static navbar -->
  <section class="top" id="top-header">
    <div class="container">
      <div class="row">
            <div class="col-xs-12 col-sm-6 hidden-xs shipping-text"> Free Shipping on Orders Rs 5000 and Above </div>
            <div class="col-xs-12 col-sm-6 links"> <a class="activelink" href="#contact">Contact</a> <a href="#/login">Login / Signup</a> <a href="" class="cart"><i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i><span class="cart-value"> 0</span></a></div>
      </div>
    </div>
   </section>
   <header class="header">
      <nav class="navbar navbar-default">
        
		   <div class="container">
            <div class="row">
               <div class="col-xs-12 ">
                  <div class="navbar-header">
                     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                     <a class="navbar-brand" href="#/"></a>
                     <figure> </figure>
                     </a>
                  </div>
                  <div id="navbar" class="navbar-collapse collapse">
                     <ul class="nav navbar-nav">
                <li><a href="#/todaydeals">Today's Deals</a></li>
				<li><a href="#">Buy/Sell</a></li>
				<li><a href="#services">Services</a></li>
				<li><a href="#">About Us</a></li>
                <li class="store"><a href="#">Our Store</a></li>
				<li><a href="#/myaccount">My Account</a></li>
				<li>
                  <div class="search">
                    <div class="input">
                      <input type="text" placeholder="Search">
                    </div>
                  </div>
                </li>
                <li class="post" ><a href="#"><span>Post A Requirement</span></a></li>
              </ul>
                  </div>
                  <!--.nav-collapse -->
               </div>
               </div>
           
         </div>
         <!--/.container-fluid -->
      </nav>
	  <div class="container">
   <div class="category-menu" style="display: ;">
         <ul>
            <li>
               <a href="#">Categories</a>
               <ul class="dropdown bgcover" ng-style="set_bg()">
                  <li  ng-repeat="x in menuitem" >
                     <a href="#{{x.url}}" ng-mouseover="mouseOver(x)"> {{ x.title  }}</a>
                     <ul class="dropdown">
                        <li  ng-repeat="sub in x.subCategory">
                           <a href="#/{{sub.type}}/{{ x.title  }}{{sub.url}}" ng-mouseover="mouseOver(sub)">{{sub.title}}</a>                            
                        </li>
                     </ul>
                  </li>
               </ul>
            </li>
         </ul>
      </div>
      </div>
   </header>
   <div class="container">
     

<section class="contact-address" >
<div class="container">
   <div class="row">
      <div class="col-xs-12  ">
         <h2 class="sec-title mar0"><strong>Contact Us</strong></h2>
		 <div class="address-area">
           <aside> 
		   {{contactdetails.address}}<br>{{contactdetails.postalCode}}<br>

{{contactdetails.city}}, {{contactdetails.state}}, {{contactdetails.country}}
<hr>
Phone:{{contactdetails.phone}}
<hr>
Email: <a href="mailto:{{contactdetails.eMail}}">{{contactdetails.eMail}}</a>
</aside>
           <aside>
           <a href="mailto:customersupport@onesevenhome.com">customersupport@onesevenhome.com</a><br>
<a href="mailto:suppliersupport@onesevenhome.com">suppliersupport@onesevenhome.com</a><br>
<a href="mailto:careers@onesevenhome.com">careers@onesevenhome.com</a>
<hr>
<strong>Request a callback</strong><br>
Directly speak to our customer support executive for any assistance.
<button class="button">Call Me Back</button>
</aside></div>

      </div>
   </div>
</div>
</section>
</div>
<!-- ==== GET IN TOUCH ==== -->
<!--
   <form name="contact-form" >
    <section class="contact-form" >
    <div class="container">
         <div class="row">
           <div class="col-xs-12  ">
             <h2 class="sec-title"><strong>Get in Touch </strong></h2>
             <form>
               <div class="form-group col-lg-6">
                 <label for="name">Name *</label>
                 <input type="text" class="form-control"  ng-model="user.name"   required="required">
               </div>
               <div class="form-group col-lg-6">
                 <label for="email">Email *</label>
                 <input type="email" class="form-control"  ng-model="user.email" required="required">
               </div>
               <div class="form-group col-lg-6">
                 <label for="mobile">Mobile No *</label>
                 <input type="mobile" class="form-control"  ng-model="user.mobile" required="required">
               </div> 
               
               <div class="form-group col-lg-6 checkbox-group ">
               <!--<label for="cheboxes">cheboxes</label>
               <div class="checkbox-inline">
                 <input type="checkbox"   required="required">
                 <label for="supplier"> Supplier</label>
               </div> 
               <div class="checkbox-inline">
                 <input type="checkbox"   required="required">
                 <label for="customer"> Customer</label>
               </div></div>
                <div class="clearfix"></div>
               <div class="form-group col-lg-6">
                 <label for="state">State *</label>
                 <select class="selectpicker" required="required">
                   <option>Select1</option>
                 </select>
               </div>
               <div class="form-group col-lg-6">
                 <label for="city">City *</label>
                 <select class="selectpicker" required="required">
                   <option>Select1</option>
                 </select>
               </div>
                <div class="form-group col-lg-12">
                 <label for="comments">Comments *</label>
                 <textarea class="form-control"></textarea>
               </div>
               <div class="clearfix"></div>
               <button type="submit" class="btn btn-default button">Send Email</button>
             </form>
           </div>
            
         </div></div>
       </section>
   	-->
	
<br><br>
<!--==== Old Footer ====-->
<footer class="footer">
   <div class="container">
      <div class="row">
         <div class="col-xs-12 col-md-6 col-lg-3 ">
            <h2>Buying Assurance</h2>
            <p><a href="#">See authorised Dealers</a><br>
               <a href="#">Certification</a>
            </p>
         </div>
         <div class="col-xs-12 col-md-6 col-lg-3   ">
            <h2>Info &amp; News</h2>
            <p><a href="#">About Us</a><br>
               <a href="#">Contact Us</a><br>
               <a href="#">Press Releases</a><br>
               <a href="#">Product Support</a><br>
               <a href="#">Carrers</a><br>
               <a href="#">FAQ’s </a>
            </p>
         </div>
         <div class="col-xs-12 col-md-6 col-lg-3   ">
            <h2>Locations</h2>
            <p><a href="#">Hyderabad</a><br>
               <a href="#">Warangal</a><br>
               <a href="#">Vijayawada</a><br>
               <a href="#">Guntur</a>
            </p>
         </div>
         <div class="col-xs-12 col-md-6 col-lg-3   ">
            <h2>Stay Updated </h2>
            <p><a href="#"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a> | <a href="#"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a> | <a href="#"><i class="fa fa-google-plus fa-2x" aria-hidden="true"></i></a> | <a href="#"> <i class="fa fa-youtube fa-2x" aria-hidden="true"></i></a></p>
            <div class="newsletter">
               <input placeholder="Sign up for updates">
               <button>Register</button>
            </div>
         </div>
      </div>
   </div>
   <div class="copy"> &copy; Copights 2017   ONE SEVEN HOME  |  <A HREF="#">TERMS AND CONDITIONS</A>  |  <A HREF="#">PRIVACY POLICY </A> |  <A HREF="#">INDIA PRIVACY RIGHTS</A> </div>
</footer>

