<div class="wrap">
   <!-- Static navbar -->
   <section class="top" id="top-header">
      <div class="container">
         <div class="row">
            <div class="col-xs-12 col-sm-6 hidden-xs shipping-text"> Free Shipping on Orders <i class="fa fa-rupee"></i> 5000 and Above </div>
            <div class="col-xs-12 col-sm-6 links"> <a href="#contact">Contact Us</a> <span ng-hide="userlogged"><a href="#/login" >Login </a> / <a href="#/registration" > Signup</a></span><span class="login-btn" ng-show="userlogged">{{loggedInUser}}</span>
			
			<!--=== LOGOUT SECTION ===-->
			
		<div class="myprofile-block">
		<div class="mypro-brdr">
			<div class="pro-top">
				<!--<a href="#" class="pro-pic">
					<img src="img/tst-pic.jpg"/>
					<span>Change</span>
				</a>-->
				<div class="pro-txt">
					<h3>{{}}</h3>
					<h4>{{loggedInUser}}</h4>
				</div>
			</div>
			<div class="pro-btm">
				<span class="mypro-btn"><a href="#" ng-click="logout()">My profile</a></span>
				<span class="mypro-logout" ng-click="logout()"><a>Log Out</a></span>
			</div>
		</div>
		</div>
			<a href="#cart" class="cart"><i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i> <span class="cart-value"> 0</span> </a></div>
			</div>
         </div>
      </div>
   </section>
   <header class="header">
      <nav class="navbar navbar-default">
         <div class="container">
            <div class="row">
               <div class="col-xs-12 ">
                  <div class="navbar-header">
                     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                     <a class="navbar-brand" href="#/"></a>
                     <figure> </figure>
                     </a>
                  </div>
                  <div id="navbar" class="navbar-collapse collapse">
                     <ul class="nav navbar-nav">
                        <li class="active"><a href="#/todaydeals">Today's Deals</a></li>
                        <li><a href="#">Buy/Sell</a></li>
                        <li><a href="#services">Services</a></li>
                        <li><a href="#">About Us</a></li>
                        <li class="store"><a href="#">Our Store</a></li>
                        <li><a href="#/myaccount">My Account</a></li>
                        <li>
                           <div class="search">
                              <div class="input">
                                 <input type="text" placeholder="Search">
                              </div>
                           </div>
                        </li>
                        <li class="post" ><a href="#"><span>Post A Requirement</span></a></li>
                     </ul>
                  </div>
                  <!--.nav-collapse -->
               </div>
            </div>
         </div>
         <!--/.container-fluid -->
      </nav>
      <div class="container">
         <div class="category-menu" style="display: ;">
            <ul>
               <li>
                  <a class="cat-link">All Categories</a>
                  <ul class="dropdown bgcover" ng-style="set_bg()">
                     <li  ng-repeat="x in menuitem" >
                        <a href="#{{x.url}}" ng-mouseover="mouseOver(x)"> {{ x.title  }}</a>
                        <ul class="dropdown">
                           <li  ng-repeat="sub in x.subCategory">
                              <a href="#/{{sub.type}}/{{ x.title  }}{{sub.url}}" ng-mouseover="mouseOver(sub)">{{sub.title}}</a>                            
                           </li>
                        </ul>
                     </li>
                  </ul>
               </li>
            </ul>
         </div>
      </div>
   </header>
   <div class="breadcrumbs">
      <a href="#/">Home</a>&gt;<a href="#/categories/{{categorytype}}">{{categorytype}}</a><span  ng-show="subcattype">&gt;<span class="text-capitalize">{{subcategorytype}}</span>
   </div>
   <section class="plist mid">
      <div class="container">
         <div class=" head ">
            <div class=" row ">
               <div class="col-xs-12 col-lg-6   ">
                  <strong>Showing <span ng-hide="subcattype">Categories ({{categorytype}})</span><span ng-show="subcattype">Sub Categories ({{subcategorytype}})</span></strong>
               </div>
               <div class="col-xs-12  col-lg-6 text-right ">
                  <div class="sort">
                     <label>Sory By</label>
                     <div class="selectbox">
                        <select>
                           <option value="">Brand</option>
                        </select>
                     </div>
                     <div class="selectbox">
                        <select>
                           <option value="">Type</option>
                        </select>
                     </div>
                     <div class="selectbox">
                        <select>
                           <option value="">Grade</option>
                        </select>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 tdm-block" >
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 todaydeal-block" ng-repeat="pl in plist">
               <figure>
                  <a href="#/productpage/{{pl.productId}}"><img ng-src="{{pl.imageURL}}"></a>
                  <span class="dis">{{pl.discountPercentage}}% OFF</span>
               </figure>
               <h3> {{pl.productName}}</h3>
               <h4> <i class="fa fa-inr" aria-hidden="true"></i> {{pl.productPrice}} </h4>
               <a href="#/productpage/{{pl.productId}}" class="va">View Details</a>
            </div>
         </div>
        <!-- <div class="pagination">
            <ul>
               <li class="prev"><a href="#">Prev</a></li>
               <li><a href="#">1</a></li>
               <li class="active"><a href="#">2</a></li>
               <li><a href="#">3</a></li>
               <li class="dots"><a href="#">...</a></li>
               <li class="last"><a href="#">8</a></li>
               <li class="nxt"><a href="#">Next</a></li>
            </ul>
         </div>-->
      </div>
   </section>
   <section class="todaydeals rview" >
      <div class="container">
         <div class="row">
            <div class="col-xs-12  ">
               <h2 class="sec-title"><strong>Recently Bought</strong></h2>
               <ul class="all">
                  <slick settings="slickrecentbroughtConfig" ng-if="RecentlyLoaded">
                     <li ng-repeat="brought in recently">
                        <figure>
                           <a href="#/productpage/{{brought.productId}}"><img data-lazy="{{brought.imgurl}}"></a>
                           <span class="dis">{{brought.discount}}</span>
                        </figure>
                        <h3>{{brought.description}}</h3>
                        <h4><i class="fa fa-inr" aria-hidden="true"></i> {{brought.price}}</h4>
                        <a href="#/productpage/{{brought.productId}}" class="va">View Details</a>
                     </li>
                  </slick>
               </ul>
            </div>
         </div>
      </div>
   </section>
</div>

<!--

<footer class="footer">
   <div class="container">
      <div class="row">
         <div class="col-xs-12 col-md-6 col-lg-3 ">
            <h2>Buying Assurance</h2>
            <p><a href="#">See authorised Dealers</a><br>
               <a href="#">Certification</a>
            </p>
         </div>
         <div class="col-xs-12 col-md-6 col-lg-3   ">
            <h2>Info &amp; News</h2>
            <p><a href="#">About Us</a><br>
               <a href="#">Contact Us</a><br>
               <a href="#">Press Releases</a><br>
               <a href="#">Product Support</a><br>
               <a href="#">Careers</a><br>
               <a href="#">FAQ’s </a>
            </p>
         </div>
         <div class="col-xs-12 col-md-6 col-lg-3   ">
            <h2>Locations</h2>
            <p><a href="#">Hyderabad</a><br>
               <a href="#">Warangal</a><br>
               <a href="#">Vijayawada</a><br>
               <a href="#">Guntur</a>
            </p>
         </div>
         <div class="col-xs-12 col-md-6 col-lg-3   ">
            <h2>Stay Updated </h2>
            <p><a href="#"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a> | <a href="#"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a> | <a href="#"><i class="fa fa-google-plus fa-2x" aria-hidden="true"></i> </a> | <a href="#"> <i class="fa fa-youtube fa-2x" aria-hidden="true"></i></a></p>
            <div class="newsletter">
               <input placeholder="Sign up for updates">
               <button>Register</button>
            </div>
         </div>
      </div>
   </div>
   <div class="copy">   &copy; Copights 2017   ONE SEVEN HOME  |  <A HREF="#">TERMS AND CONDITIONS</A>  |  <A HREF="#">PRIVACY POLICY </A> |  <A HREF="#">INDIA PRIVACY RIGHTS</A> </div>
</footer>

-->

<script>
$(".login-btn").click(function(){
    $(".myprofile-block").toggle();
});
$(".cat-link").click(function(){
    $(".category-menu ul li:hover > ul.dropdown").toggle();
});
$(".cat-link").click(function(){
    $(".cat-link").toggleClass("active");
});
</script>