<section class="top" id="top-header">
   <div class="container">
      <div class="row">
         <div class="col-xs-12 col-sm-6 hidden-xs shipping-text"> Free Shipping on Orders <i class="fa fa-rupee"></i> 5000 and Above </div>
         <div class="col-xs-12 col-sm-6 links"> <a href="#contact">Contact Us</a> <a href="#/login" ng-hide="userlogged">Login </a> / <a class="activelink" href="#/registration" ng-hide="userlogged"> Signup</a> <a href="#cart" class="cart"><i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i><span class="cart-value"> 0</span></a></div>
      </div>
   </div>
</section>
<header class="header">
   <nav class="navbar navbar-default">
      <div class="container">
         <div class="row">
            <div class="col-xs-12 ">
               <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>                  <a class="navbar-brand" href="#/"></a>                  
                  <figure> </figure>
               </div>
               <div id="navbar" class="navbar-collapse collapse">
                  <ul class="nav navbar-nav">
                     <li><a href="#/todaydeals">Today's Deals</a></li>
                     <li><a href="#">Buy/Sell</a></li>
                     <li><a href="#services">Services</a></li>
                     <li><a href="#">About Us</a></li>
                     <li class="store"><a href="#">Our Store</a></li>
                     <li><a href="#/myaccount">My Account</a></li>
                     <li>
                        <div class="search">
                           <div class="input">                              <input type="text" placeholder="Search">                           </div>
                        </div>
                     </li>
                     <li class="post" ><a href="#"><span>Post A Requirement</span></a></li>
                  </ul>
               </div>
               <!--.nav-collapse -->            
            </div>
         </div>
      </div>
      <!--/.container-fluid -->   
   </nav>
   <div class="container">
      <div class="category-menu" style="display: ;">
         <ul>
            <li>
               <a class="cat-link">All Categories</a>               
               <ul class="dropdown bgcover" ng-style="set_bg()">
                  <li  ng-repeat="x in menuitem" >
                     <a href="#{{x.url}}" ng-mouseover="mouseOver(x)"> {{ x.title  }}</a>                     
                     <ul class="dropdown">
                        <li  ng-repeat="sub in x.subCategory">                           <a href="#/{{sub.type}}/{{ x.title  }}{{sub.url}}" ng-mouseover="mouseOver(sub)">{{sub.title}}</a>                                                    </li>
                     </ul>
                  </li>
               </ul>
            </li>
         </ul>
      </div>
   </div>
</header>
<div class="container">
   <section class="login title" >
      <div class="row">
         <div class="col-xs-12  ">
            <h2 class="main-title"><strong>Registration</strong></h2>
            <div class="links">                <a href="#" class="active">User </a>                <a href="#">Vendor</a>            </div>
         </div>
      </div>
      <section class="login mid registration">
         <form name="regForm" novalidate>
            <h2 class="sec-title"><strong>New Customer</strong></h2>
            <div class="login-mid-block">
               <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 left">
                  <h4>Personal Information</h4>
         <form class="form-horizontal">
		 <div class="form-group">
			<input type="email" name="email" class="form-control" ng-model="user.emailAddress" placeholder="Email">
			<i class="fa fa-star" aria-hidden="true"></i>
		</div>
		<div class="form-group">
			<input type="text" name="firstName" class="form-control" placeholder="First Name" ng-model="user.firstName">
			<i class="fa fa-star" aria-hidden="true"></i>
		</div>
		<div class="form-group">
			<input type="text" name="lastName" class="form-control" placeholder="Last Name" ng-model="user.lastName">
			<i class="fa fa-star" aria-hidden="true"></i>
		</div>
		<div class="form-group">
			<input type="text" name="dob" class="form-control" placeholder="(DOB) DD-MM-YYYY" ng-model="user.dob">
			<i class="fa fa-star" aria-hidden="true"></i>
		</div>
		<div class="form-group gender">
		Gender
			<div class="radio-item">
				<input type="radio" name="gender" value="" id="male" >
				<label for="male">Male</label>
			</div>
			<div class="radio-item">
				<input type="radio" name="gender" value="" id="female">
				<label for="female">Female</label>
			</div>
		</div>
		<div class="form-group">
			<input type="text" class="form-control" id="num" placeholder="Mobile No." name="Number" ng-model="user.phone">
			<i class="fa fa-star" aria-hidden="true"></i>
		</div>
			<label for="newPassword"></label>
		<div class="form-group">
			<input type="password" name="Password" id="pass" class="form-control" placeholder="Password" ng-model="user.password">
			<i class="fa fa-star" aria-hidden="true"></i>
		</div>
			<label for="confirmPassword"></label>
		<div class="form-group">
			<input type="password" name="confirmPassword" ng-model="user.checkPassword" id="conformPassword" class="form-control" placeholder="Confirm Password" >
			<i class="fa fa-star" aria-hidden="true"></i>
		</div>
		</form>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 right">
		<h4>Contact Information</h4>
		<form class="form-horizontal">
		<div class="form-group">
			<textarea name="message" class="form-control" placeholder="Address" ng-model="user.address"></textarea>
			<i class="fa fa-star" aria-hidden="true"></i>
		</div>
		<div class="form-group">
			<input type="text" name="Postal Code" class="form-control" placeholder="Postal Code" ng-model="user.postalCode">
			<i class="fa fa-star" aria-hidden="true"></i>
		</div>
		<div class="form-group">
		<div class="sec-block">
			<select ng-model="user.stateProvince">
				<option value="">Select State</option>
				<option value="">Andhra Pradesh</option>
				<option value="">Telangana</option>
				<option value="">Tamil Nadu</option>
			</select>
		</div>
		<i class="fa fa-star" aria-hidden="true"></i>
		</div>
		<div class="form-group">
		<div class="sec-block">
			<select ng-model="user.city">
				<option value="">Select City</option>
				<option value="">Hyderabad</option>
				<option value="">Banglore</option>
				<option value="">Chennai</option>
			</select>
		</div>
		<i class="fa fa-star" aria-hidden="true"></i>
		</div>
		<div class="form-group" ng-class="">
		<div class="sec-block">
			<select ng-model="user.area">
				<option value="">Select Area</option>
				<option value="">SR Nagar</option>
				<option value="">Panjagutta</option>
				<option value="">Uppal</option>
			</select>
		</div>
		<i class="fa fa-star" aria-hidden="true"></i>
		</div>
		<div class="form-group">
			<input type="checkbox" name="remember" id="agr" value=""><label for="agr">I agree to OneSevenHome Agreement</label>
		</div>
		<div class="form-group">
		<button type="button" class="btn btn-primary" value="Register" title="Register" ng-click="register(user)">
			<span>Register</span>
		</button>
		</div>
	   </form>
	  </div>
	 </div>
	</form>
  </section>
 </section>
</div>

<!--

<footer class="footer">
   <div class="container">
      <div class="row">
         <div class="col-xs-12 col-md-6 col-lg-3 ">
            <h2>Buying Assurance</h2>
            <p><a href="#">See authorised Dealers</a><br>               <a href="#">Certification</a>            </p>
         </div>
         <div class="col-xs-12 col-md-6 col-lg-3   ">
            <h2>Info &amp; News</h2>
            <p><a href="#">About Us</a><br>               <a href="#">Contact Us</a><br>               <a href="#">Press Releases</a><br>               <a href="#">Product Support</a><br>               <a href="#">Careers</a><br>               <a href="#">FAQ’s </a>            </p>
         </div>
         <div class="col-xs-12 col-md-6 col-lg-3   ">
            <h2>Locations</h2>
            <p><a href="#">Hyderabad</a><br>               <a href="#">Warangal</a><br>               <a href="#">Vijayawada</a><br>               <a href="#">Guntur</a>            </p>
         </div>
         <div class="col-xs-12 col-md-6 col-lg-3   ">
            <h2>Stay Updated </h2>
            <p><a href="#"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a> | <a href="#"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a> | <a href="#"><i class="fa fa-google-plus fa-2x" aria-hidden="true"></i></a> | <a href="#"> <i class="fa fa-youtube fa-2x" aria-hidden="true"></i></a></p>
            <div class="newsletter">               <input placeholder="Sign up for updates">               <button>Register</button>            </div>
         </div>
      </div>
   </div>
   <div class="copy"> &copy; Copights 2017   ONE SEVEN HOME  |  <A HREF="#">TERMS AND CONDITIONS</A>  |  <A HREF="#">PRIVACY POLICY </A> |  <A HREF="#">INDIA PRIVACY RIGHTS</A> </div>
</footer>

-->

<script>
$(".login-btn").click(function(){
    $(".myprofile-block").toggle();
});
$(".cat-link").click(function(){
    $(".category-menu ul li:hover > ul.dropdown").toggle();
});
$(".cat-link").click(function(){
    $(".cat-link").toggleClass("active");
});
</script>