<div class="wrap">
   <!-- Static navbar -->
   <section class="top" id="top-header">
      <div class="container">
         <div class="row">
            <div class="col-xs-12 col-sm-6 hidden-xs shipping-text"> Free Shipping on Orders <i class="fa fa-rupee"></i> 5000 and Above </div>
            <div class="col-xs-12 col-sm-6 links"> <a href="#contact">Contact Us</a> <span ng-hide="userlogged"><a href="#/login" >Login </a> / <a href="#/registration" > Signup</a></span><span class="login-btn" ng-show="userlogged">{{loggedInUserName}}</span>
			
			<!--=== LOGOUT SECTION ===-->
			
		<div class="myprofile-block">
		<div class="mypro-brdr">
			<div class="pro-top">
				<!--<a href="#" class="pro-pic">
					<img src="img/tst-pic.jpg"/>
					<span>Change</span>
				</a>-->
				<div class="pro-txt">
					<h3>{{loggedInUserName}}</h3>
					<h4>{{loggedInUser}}</h4>
				</div>
			</div>
			<div class="pro-btm">
				<span class="mypro-btn"><a href="#" ng-click="logout()">My profile</a></span>
				<span class="mypro-logout" ng-click="logout()"><a>Log Out</a></span>
			</div>
		</div>
		</div>
			<a href="#cart" class="cart"><i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i> <span class="cart-value"> {{lengthofcart}}</span> </a>
			</div>
			</div>
         </div>
   </section>
   <header class="header">
      <nav class="navbar navbar-default">
         <div class="container">
            <div class="row">
               <div class="col-xs-12 ">
                  <div class="navbar-header">
                     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                     <a class="navbar-brand" href="#/"></a>
                     <figure> </figure>
                     
                  </div>
                  <div id="navbar" class="navbar-collapse collapse">
                     <ul class="nav navbar-nav">
                        <li class="active"><a href="#/todaydeals">Today's Deals</a></li>
                        <li><a href="#">Buy/Sell</a></li>
                        <li><a href="#services">Services</a></li>
                        <li><a href="#">About Us</a></li>
                        <li class="store"><a href="#">Our Store</a></li>
                        <li><a href="#/myaccount">My Account</a></li>
                        <li>
                           <div class="search">
                              <div class="input">
                                 <input type="text" placeholder="Search">
                              </div>
                           </div>
                        </li>
                        <li class="post" ><a href="#"><span>Post A Requirement</span></a></li>
                     </ul>
                  </div>
                  <!--.nav-collapse -->
               </div>
            </div>
         </div>
         <!--/.container-fluid -->
      </nav>
	  <category-Directive></category-Directive>
   </header>
   <div class="container">
      <section class="todaydeals title" >
         <div class="row">
            <div class="col-xs-12  ">
               <h2 class="sec-title"><strong>Hot Deals - Save upto 50%</strong></h2>
               <p class="sub-tag">Great Savings. Every Day. Shop from our Deal of the Day, Lightning Deals and avail other great 
                  offers. <a href="#">Sign up</a> for deal notifications
               </p>
               <div class="links"> 
                  <a href="#" class="active">Active </a> 
                  <a href="#">Upcoming</a>
                  <a href="#">Expired</a> 
               </div>
            </div>
         </div>
      </section>
      <section class="todaydeals mid">
         <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 left">
            <div class="todaydeal-sorting">
               <p>Showing 1-21of 99 Results</p>
               <div ng-repeat="x in menuitem">
                  <input id="{{ x.title }}" type="checkbox" /><label for="{{ x.title }}">{{ x.title }}</label>
               </div>
            </div>
            <div class="todaydeals rp">
               <div class="rp-block">
                  <h2 class="sec-title2"><strong>Recommended Products </strong></h2>
                  <section  id="fp">
                     <slick settings="slickrecommendedprocutsConfig" ng-if="RecomendLoaded">
                        <li class="block" ng-repeat="image in recommend">
                        <div class="t-pro">
                           <figure>
                           <a href="#/productpage/{{image.productId}}"><img data-lazy="{{image.imageURL}}"></a>
                           <span class="dis">{{image.discountPercentage}}% OFF</span>
                           </figure>
                           <h3> {{image.productName}}</h3>
                           <h4><i class="fa fa-inr" aria-hidden="true"></i> {{image.productDiscountPrice}}</h4>
                           <a href="#/productpage/{{image.productId}}" class="va">View Details</a>
                        </div>
                        </li>
                     </slick>
                  </section>
               </div>
			   
			   <!--== Pagination Removed ==-->
			   
               <!--<div class="pagination">
                  <ul>
                     <li><a href="#">1</a></li>
                     <li class="active"><a href="#">2</a></li>
                     <li><a href="#">3</a></li>
                     <li><a href="#">4</a></li>
                  </ul>
               </div>-->
            </div>
         </div>
         <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 tdm-block">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 todaydeal-block" ng-repeat="todaydeal in deal">
               <div class="t-pro">
			   <figure>
                  <a href="#/productpage/{{todaydeal.productId}}"><img ng-src="{{todaydeal.imageURL}}"></a>
                  <span class="dis">{{todaydeal.discountPercentage}}% OFF</span>
               </figure>
               <h3>{{todaydeal.productName}}</h3>
               <h4><i class="fa fa-inr" aria-hidden="true"></i> {{todaydeal.productPrice}}</h4>
               <a href="#/productpage/{{todaydeal.productId}}" class="va">View Details</a>
				</div>
            </div>
         </div>
		 
		 <!--== Pagination Removed ==-->
		 
		 <!--<div class="pagination">
               <ul>
                  <li class="prev"><a href="#">Prev</a></li>
                  <li><a href="#">1</a></li>
                  <li class="active"><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li class="dots"><a href="#">...</a></li>
                  <li class="last"><a href="#">8</a></li>
                  <li class="nxt"><a href="#">Next</a></li>
               </ul>
            </div>-->
      </section>
      <section class="todaydeals rview">
         <div class="row">
            <div class="col-xs-12">
               <h2 class="sec-title"><strong>Recently Bought</strong></h2>
			    <ul class="all">
               <slick settings="slickrecentbroughtConfig" ng-if="RecentlyLoaded">
                     <li ng-repeat="brought in recently">
                        <div class="t-pro">
						<figure>
                           <a href="#/productpage/{{brought.productId}}"><img data-lazy="{{brought.imageURL}}"></a>
                           <span class="dis">{{brought.discountPercentage}}% OFF</span>
                        </figure>
                        <h3>{{brought.productName}}</h3>
                        <h4><i class="fa fa-inr" aria-hidden="true"></i> {{brought.productDiscountPrice}}</h4>
                        <a href="#/productpage/{{brought.productId}}" class="va">View Details</a>
						</div>
                     </li>
                 
               </slick>
			    </ul>
            </div>
         </div>
      </section>
   </div>
</div>

<script>
$(".login-btn").click(function(){
    $(".myprofile-block").toggle();
});
</script>