body {
    font-family: arial, sans-serif;
}
.container {
    width: 100%;
    margin: 0;
    padding: 0 25px;
}
.admin-panel > .container{min-height:80vh;}
.containerwrap{
	background-color: #f7f7f7;
	background-image: url(http://rainiersoft.com/clients/onesevenhome/img/pattern.jpg);
    background-position: center bottom;
    margin-bottom: 20px;
    background-size: 100% auto;
    background-repeat: no-repeat;
}
#navbar .navbar-right a.btn {
    color: #000;
    text-shadow: none;
    padding: 30px 25px 10px;
}
nav.navbar {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fefefe+0,6e6e6e+100 */
    background: #e1e1e2;
    /* Old browsers */
    background: -moz-linear-gradient(top, #e1e1e2 0%, #a0a0a0 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #e1e1e2 0%, #a0a0a0 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #e1e1e2 0%, #a0a0a0 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#e1e1e2', endColorstr='#a0a0a0', GradientType=0);
    /* IE6-9 */
    /*border-bottom:1px solid #6e6e6e;*/
    border-radius: 0;
	border-bottom: 2px solid #fff;
	margin-bottom: 0;
}
.navbar-default {
    background: #fff;
    border: none;
}
.navbar-default .container .navbar-brand {
    background: #fff;
    background-size: 100%;
    color: #777;
    z-index: 2;
    text-align: center;
    max-width: 100%;
    -webkit-transition: all .2s;
    /* For Safari 3.1 to 6.0 */
    transition: all .2s;
}
.navbar-default.active .container .navbar-brand {
    height: 55px;
    padding: 0;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    background-color: transparent;
}
.navbar-default .container .navbar-brand img {
    display: block;
    margin: 7px auto auto;
    -webkit-transition: all .2s;
    /* For Safari 3.1 to 6.0 */
    transition: all .2s;
    padding: 5px 0 0;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #e7e7e7;
    float: right;
    padding: 0;
}
.navbar-default.active .container .navbar-brand {
    border: none;
    -webkit-transition: all .2s;
    /* For Safari 3.1 to 6.0 */
    transition: all .2s;
}
.navbar-default .container .navbar-brand {
    content: "";
    background: #040707 url("../img/logo.png") no-repeat scroll center center;
    color: #777;
    height: 78px;
    margin-left: 0;
    width: 260px;
    z-index: 2;
    text-align: center;
    max-width: 100%;
    -webkit-transition: all .2s;
    /* For Safari 3.1 to 6.0 */
    transition: all .2s;
    z-index: 1;
    position: relative;
}
.navbar-default .container .navbar-brand:before {
    content: "";
    position: absolute;
    border: 2px solid #1a1c1c;
    left: 5px;
    right: 5px;
    top: 5px;
    bottom: 5px;
}
.nav-pills.nav-stacked > li {
    border-bottom: 1px solid #999999;
	margin-top:0
}
.nav-pills>li>a {
    border-radius: 4px;
    padding: 4px 10px;
    color: #fff;
    border-top: none;
    text-decoration: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background-color: #3a3a3a;
}
.nav-pills.nav-stacked > li:first-child > a {
    margin: 0px 0px 0px 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.nav-pills.nav-stacked > li > a > i, .nav-pills.nav-stacked > li > ul > li > a > i {
    opacity: 1;
    font-size: 12px;
    margin-right: 5px;
}
.footer {
    overflow: hidden;
    background: #000;
    text-align: left;
    color: #999999;
}
.footer .copy, .footer .copy a {
    font-size: 10px;
    color: #fff;
    line-height: 60px;
    text-align: center;
}
body,html{
    height: 100%;
}
nav.sidebar, .main{
	-webkit-transition: margin 200ms ease-out;
	-moz-transition: margin 200ms ease-out;
	-o-transition: margin 200ms ease-out;
	transition: margin 200ms ease-out;
}
.main{
	padding: 10px 10px 0 10px;
}
@media (min-width: 765px) {
.main{
	position: absolute;
	width: calc(100% - 40px); 
	margin-left: 40px;
	float: right;
}
nav.sidebar:hover + .main{
	margin-left: 200px;
}
nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
	margin-left: 0px;
}
nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
	text-align: center;
	width: 100%;
	margin-left: 0px;
}
nav.sidebar a{
	padding-right: 13px;
}
nav.sidebar .navbar-nav > li:first-child{
	border-top: 1px #fff solid;
}
nav.sidebar .navbar-nav > li{
	border-bottom: 1px #fff solid;
}
nav.sidebar .navbar-nav .open .dropdown-menu {
	position: static;
	float: none;
	width: auto;
	margin-top: 0;
	background-color: transparent;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
	padding: 0 0px 0 0px;
}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
	color: #777;
}
nav.sidebar{
	height: 100%;
	margin-left: -160px;
	float: left;
	margin-bottom: 0px;
}
nav.sidebar li {
	width: 100%;
}
nav.sidebar:hover{
	margin-left: 0px;
}
.navbar-nav>li>a {
	padding-top: 7px;
	padding-bottom: 7px;
}
.navbar-default .navbar-nav>li>a i {
    padding-right: 5px;
}
.forAnimate{
	opacity: 0;
}
}
@media (min-width: 1330px) {
.main{
	width: calc(100% - 200px);
	margin-left: 200px;
}
nav.sidebar{
	margin-left: 0px;
	float: left;
}
nav.sidebar .forAnimate{
	opacity: 1;
}
}
nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
	color: #CCC;
	background-color: transparent;
}
nav:hover .forAnimate{
	opacity: 1;
}
section{
	padding-left: 15px;
}
.navbar-default .navbar-nav>li>a {
	font-size: 14px;
	color: #2c2c2c;
}
/*** admin login page (Suresh) **/
a, a:hover, a:focus{
	text-decoration:none;
	outline:none;
}
#sidebar-left {
    padding: 0px;
}

.body-bg{
	background-color:#f7f7f7;
}
h2.main-title{
	margin-bottom:15px;
	text-align:center;
	line-height:40px;
	margin-top:0;
	padding-top:20px;
}
h2.main-title span {
    font-size: 24px;
    margin-bottom: 10px;
    padding: 10px 0 5px;
    color: #000000;
    font-weight: normal;
    border-bottom: 2px solid #f00;
}
.form-login fieldset{
	width:30%;
	margin:0 auto;
}
.form-login .input {
    margin-bottom: 10px;
	overflow:hidden;
	position:relative;
}
.form-login input, .form-login input:focus{
    border: 1px solid #d6d6d6;
    height: 45px;
	max-width: 100%;
    width: 100%;
    background-color: #f7f7f7;
    padding: 0 30px;
    line-height: 45px;
    float: left;
    color: #000000;
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	outline:none;
}
.form-login.prof .left{
	border-right:1px solid #cdcdcd;
}
.form-login.prof input {
    border: 1px solid #9d9d9d;
    background-color: #ebebeb;
    padding: 0 10px;
}
.form-login .sec-block {
    background-color: #ebebeb;
    display: block;
    overflow: hidden;
    position: relative;
    z-index: 0;
    width: 100%;
}
.form-login .sec-block::before {
    content: "\f107";
    font-family: fontawesome;
    font-size: 18px;
    position: absolute;
    right: 15px;
    top: 8px;
    z-index: -1;
}
.form-login select {
    border: 1px solid #9d9d9d;
    background-color: transparent;
    width: 100%;
    height: 40px;
    padding: 0 10px;
    z-index: 0;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
.form-login.prof .button-login {
    padding-top: 20px;
    clear: both;
}
input[type="checkbox"] {
    display: none;
}
input[type="checkbox"] + label {
    position: relative;
    padding-left: 30px;
    line-height: 18px;
    margin-left: 10px;
    font-weight: normal;
    margin-bottom: 4px;
    font-size: 12px;
    font-family: arial;
    font-weight: bold;
	display:block;
}
input[type="checkbox"] + label:before {
    content: "";
    width: 16px;
    height: 16px;
    background-color: #000000;
    position: absolute;
    left: 0;
    padding: 0 2px;
}
input[type="checkbox"]:checked + label:before {
    content: "\f00c";
    font-family: fontawesome;
    font-size: 12px;
    color: #ffffff;
    font-weight: normal;
}
.form-login.prof .input .fa.fa-star {
    left: initial;
	right: 10px;
    position: absolute;
    top: 6px;
    z-index: 9;
    color: #ff9416;
    font-size: 9px;
}
.login-box .form-login .fa {
    left: 12px;
    position: absolute;
    top: 14px;
    z-index: 9;
    color: #c9c9c9;
}
.form-login .input p, .form-login .input p a {
    color: #626262;
    font-size: 12px;
    text-align: right;
    font-family: arial;
    font-weight: bold;
}
.button-login{
	text-align:center;
	padding-bottom:20px;
}
.button-login .btn, .button-login .btn:focus {
    background-color: #464646;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    width: 115px;
    height: 35px;
    line-height: 35px;
    padding: 0;
    border: 1px solid #464646;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
	outline:none;
	box-shadow:none;
}
.form-login p.help-block {
    text-align: left;
    float: none;
    padding: 5px 0 0;
    clear: both;
    margin: 0px;
    color: #a94442;
    font-size: 12px;
    display: block;
}
.prof fieldset{
	width:60%;
	margin:0 auto;
	overflow:hidden;
}
/** Home (Mani) **/
.home h2.main-title{
	text-align:left;
}
.content-box {
	width:90%;
	margin:0 auto;
}
.box-address h5{
	font-size:16px;
	margin:0 0 5px;
	font-weight:bold;
}

/** add product **/
.add-product .prof fieldset {
    width: 30%;
}
.chnge-pwd .prof fieldset {
    width: 30%;
}
.footer {
    overflow: hidden;
    background: #000;
    text-align: left;
    color: #999999;
}
.footer .copy, .footer .copy a {
    font-size: 10px;
    color: #fff;
    line-height: 60px;
    text-align: center;
}
.alert.alert-warning {
    color: #626262;
    background-color: transparent;
    border-color: #626262;
    border-radius: 0;
}
.login .container > .row > .col-md-2,.login .header .navbar-right {display:none;}
.login .container > .row > .containerwrap {width:100%;}
.login .login-box{padding: 80px 0;}



.tree-root .btn-group-xs>.btn, .btn-xs {
    padding: 0px 2px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.tree-root .btn-success {
    color: #000;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.catalogue-view *{
	border-radius:0 !important;
}
.panel-primary {
    border-color: #e1e1e2;
}
.panel-primary>.panel-heading,.btn-success {
    color: #333 !important;
    border-color: #e1e1e2 !important;	
	background: #e1e1e2;
    background: -moz-linear-gradient(top, #e1e1e2 0%, #a0a0a0 100%);
    background: -webkit-linear-gradient(top, #e1e1e2 0%, #a0a0a0 100%);
    background: linear-gradient(to bottom, #e1e1e2 0%, #a0a0a0 100%);
}